*{
    margin: 0;
    padding: 0;
}
header{

    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: inline-block;
    list-style: none;

}

.menu li{
    display:inline;
    margin: 0 20px;
}

.opciones{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}



.opciones a{
    max-width: 300px;
    max-height: 250px;
    position: relative;
    width: 20%;
}

.opciones a img{
    width: 100%;
    height: 100%;
}

.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.overlay{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.opciones a:hover .overlay{
    display: flex;
}

.logo{
    width: 170px;
    height: 90px;
}

.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.item_left img{
    width: 350px;
    height: 250px;
    border-style: groove;
    border-color: black;
}

.item_left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor{
    width: 80%;
    margin: 20px auto;
    
}

.nombre{
    font-weight: bold;
    font-size: 24px;
}

.precio{
    color: red;
    font-size: 25px;
    font-weight: bold;
}

body{
    background-color: greenyellow;
}

h2{
    margin-top: 50px;
    text-align: center;
}

.descripcion{
    width: 700px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.imagenes{
    
    margin-top: 20px;
    width: 900px;
    height: 500px;
}

.black{
  
    width: 100%;
    height: 150px;
    background-color: black;
}

.logoimg{
    width: 300px;
    height: 230px;
    margin-top: -175px;
    border-radius: 100%;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer-img{
    width: 30px;
    height: 30px;
}

footer p {
    text-align: center;
}

.footer-principal{
    display: flex;
    justify-content: space-around;
}

.footer-secundario{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.footer-secundario p{
    margin: 0 20px;
}

.atras{
    display: none;
    color: white;
    text-decoration: none;
}

@media (max-width:1024px){
    .imagenes{
        width: 100%;
        height: 480px;
    }
    .item{
        flex-direction: column;
    }
    .logo {
        width: 120px;
        height: 60px;
    }
    .menu a{
        font-size: 12px;
    }
}
@media (max-width:500px){
    .descripcion{
        width: 80%;
        font-size: 14px;
        padding: 0 15px;
    }
    .imagenes{
        height: 250px;
    }
    .logoimg {
        width: 150px;
        height: 115px;
        margin-top: -70px;
    }
    .black{
        height: 65px;
    }
    .menu{
        display: none ;
    }
    .logo {
        width: 100px;
        height: 40px;
    }
    h2{
        font-size: 18px;
    }
    .footer-principal {
       flex-direction: column;
       font-size: 12px;
    }
    .footer-img{
        width: 15px;
        height: 15px;
        margin-bottom: 15px;
    }
    .footer-secundario{
        font-size: 12px;
        flex-direction: column;
    }
    .item_rigth video{
        width: 100%;
        margin-top: 15px;
        height: auto;
    }
    .item_left img{
        width: 100%;
        height: 180px;
    }
    .atras{
        display: block;
    }
    .opciones a{
        width: 100%;
    }
    .opciones{
        justify-content: center;
    }
    .overlay{
        display: flex;
    }

}
@media (min-width:2400px){
    .opciones a{
        max-width: 500px;
        max-height: 400px;
    }
    .logo {
        width: 350px;
        height: 180px;
    }
    .menu{
        font-size: 36px;
    }
    .black{
        height: 250px;
    }
    .logoimg{
    width: 550px;
    height: 440px;
    margin-top: -265px;
    }
    h2{
        font-size: 80px;
    }
    .descripcion{
        font-size: 65px;
        width: 2300px;
    }
    .imagenes {
        margin-top: 20px;
        width: 100%;
        height: 1300px;
    }
    .footer-principal {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
    }
    .footer-img {
        width: 60px;
        height: 60px;
    }
    .footer-secundario {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    .item_left img {
        width: 650px;
        height: 550px;
        border-style: groove;
        border-color: black;
    }
    .item_left .nombre{
        font-size: 65px;
    }
    .item_left p{
        font-size: 40px;
    }
    .item_left .precio{
        font-size: 65px;
    }
    .item_rigth video{
        width: 100%;
        width: 1300px;
        margin-top: 15px;
        height: auto;
    }
}